<!--
    Logging config. See https://github.com/tony19/logback-android#configuration-via-xml
    for an example. We use Logback-Android, which is a version of Logback adapted for Android - most
    of the information here should apply: http://logback.qos.ch/manual/configuration.html
-->
<configuration>
    <!-- Create a file appender for a log in the application's data directory -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <!--
            Controls what information to write out to logcat - info available includes the message,
            method name, line number, thread ID, time since app launch, etc.
            See http://logback.qos.ch/manual/configuration.html for example output patterns. Full
            details of available options:
            http://logback.qos.ch/manual/layouts.html -> PatternLayout section.

            At present, the following is included:
            -Thread ID (%thread)
            -Time since app launch (%relative)
            -Log message

            Note that logcat gives you the following 'out of the box', so it's redundant to add:
            -Date/time
            -Module
            -Qualified class name
            -Level (D/I/W/E)
            -->
            <pattern>[thread:%thread] [reltime:%relative] %message%n</pattern>
        </encoder>
    </appender>

    <!-- Only write warnings (and higher-level) messages to logcat, unless there's an explicit
    logger below.
    -->
    <root level="warn">
        <appender-ref ref="logcat" />
        <!-- You can put another appender here to do some secondary logging action, e.g. log to file
        /send log event via network etc -->
    </root>

    <logger name="com.raceyourself.raceyourself.game" level="trace">
        <appender-ref ref="logcat" />
    </logger>
</configuration>
