<!--
    Logging config. See https://github.com/tony19/logback-android#configuration-via-xml
    for an example. We use Logback-Android, which is a version of Logback adapted for Android - most
    of the information here should apply: http://logback.qos.ch/manual/configuration.html
-->
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/sdcard/com.raceyourself.batterytest/logs/log.txt</file>
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>[thread:%thread] [reltime:%relative] %message%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="FILE" />
        <appender-ref ref="logcat" />
    </root>
</configuration>
